.header {
  align-items: center;
  color: var(--color-secondary);
  display: flex;
  font-size: 1.6rem;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: sticky;
  top: 0;
  background-color: var(--color-body);
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.header.vertically-scrolled {
  color: var(--color-body);
  background-color: var(--color-secondary);
}

.header__name {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  transition: background-color, color 0.3s ease-in-out;
}

.header__name__bar {
  background-color: var(--color-secondary);
  transition: all 0.8s ease-in-out;
}

.header__name__bar.vertically-scrolled {
  background-color: var(--color-body);
}

@media screen and (max-width: 768px) {
  .header__name {
    flex-direction: column;
    gap: 0.2rem;
    margin: 1rem 0 0;
  }

  .header__name__horizontal-bar {
    height: 0.1rem;
  }
}

.nav-list {
  display: flex;
}

.nav-list__item {
  margin: 5px 10px;
  transition: color 0.8s ease;
}

.nav-list__item:hover {
  color: var(--color-headings);
}
