.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
  grid-auto-rows: 10rem;
  width: 100%;
}

.image-container {
  position: relative;
  border-radius: 0.1rem;
  overflow: hidden;
  grid-row-end: span 2;
}

.image-container img {
  object-fit: cover;
}

.image-container:nth-child(2n) {
  grid-row-end: span 3;
}
