.tag {
  align-items: center;
  background-color: var(--color-secondary);
  border-radius: 20px;
  color: var(--color-body);
  display: flex;
  justify-content: space-evenly;
  gap: 0.7rem;
  padding: 0.5rem 0.5rem 0.5rem 0.8rem;
}

.tag__header {
  font-size: 1.2rem;
  font-weight: bold;
  padding-right: 0.3rem;
}

.tag__icon {
  fill: var(--color-body);
  height: 1.5rem;
  width: 1.5rem;
}
