.image-container {
  border-radius: 1rem;
  overflow: hidden;
  width: 11rem;
  height: 7rem;
  position: relative;
}

@media screen and (max-width: 550px) {
  .image-container {
    width: 9rem;
    height: 5rem;
  }
}

/* @media screen and (max-width: 390px) {
  .image-container {
    height: 7rem;
    width: 3rem;
  }
} */
