.row {
  display: flex;
  gap: 2rem;
  font-size: 1.5rem;
  color: black;
  font-weight: bold;
  position: relative;
}

.row:not(:last-child)::after {
  content: "";
  height: 0.3rem;
  background-color: #e0e0e0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.header {
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e0e0e0;
}

.content {
  align-items: center;
  justify-content: start;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1.5rem 1.5rem 1.5rem 0;
}
