.skills-section {
  color: var(--color-secondary);
  display: flex;
  gap: 7rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15rem;
}

.title {
  color: var(--color-secondary);
  text-align: center;
}
