@tailwind base;
@tailwind components;
@tailwind utilities;

/* General */
*,
:after,
:before {
  box-sizing: border-box;
}

:root {
  --color-body: #151515;
  --color-headings: ivory;
  --color-primary: #3c415c;
  --color-secondary: darkmagenta;
}

body {
  background-color: var(--color-body);
  color: var(--color-headings);
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  /* padding: 5rem 2rem; */
  max-width: 1140px;
}

.block {
  --padding-vertical: 5rem;
  padding: var(--padding-vertical) 2rem;
}

/* Typography */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  font-size: 1.5rem;
}

/* Grids */
.grid {
  display: grid;
}

.grid--1x2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid--1x3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid--2x1 {
  grid-template-rows: repeat(2, 1fr);
}

/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}
