.footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 4rem;
}

.footer__contact-portals {
  display: flex;
  gap: 1.5rem;
}

.footer__icon {
  color: var(--color-secondary);
  height: 35px;
  width: 35px;
  transition: color 0.8s ease;
}

.footer__icon:hover {
  color: var(--color-headings);
}
