.showroom {
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  margin: 7rem 0;
}

.showroom__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
}

.previous-project,
.next-project {
  fill: var(--color-secondary);
  height: 55px;
  transition: transform 0.4s ease;
  width: 55px;
}

@media screen and (max-width: 768px) {
  .showroom__content {
    grid-template-columns: 1fr 1fr;
  }

  .showroom__content div:nth-child(2) {
    grid-column: 1 / span 2; /* Move the middle item to the first row */
    grid-row: 1;
  }
}

.previous-project:hover {
  transform: translateX(-10px);
}

.next-project:hover {
  transform: translateX(10px);
}
